# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/
.editorconfig
# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# 환경 변수 파일
.env
